#menuBG {
    width: 60%;
    height: 470px;
    margin: 10px auto;
}

#menuBG.#btnOrder {
    text-align: center;
}

#frmMenu {
    width:660px;
    height:225px;
}

.menu {
    display: inline-block;
    align-items: center;
    width:220px;
    height:225px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
}

.left {
    float:left;
}

.center {
    float:left;
}

.right {
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin:0px;
    float:left;
}

#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin-top: 10px;
    width:100px;
    height:40px;
}

.centered {
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
}

body {
    background-color: rgb(52, 165, 246);
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color:honeydew;
    text-align: center;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color:honeydew;
}

div {
    font-family: 'Gowun Batang', serif;
    color:honeydew;
}